                       **ASSIGNMENT DATA TYPE AND DATA STRUCTURE **

Question 1. What are data structures, and why are they important?

-> Data structures are ways to organize and store data efficiently for easy access and modification. They are important because they help optimize operations like searching, sorting, and manipulating data, improving the performance of programs.

Question 2. Explain the difference between mutable and immutable data types with examples.

-> Mutable data types allow modification after creation, e.g., lists (list), dictionaries (dict), and sets (set). Immutable data types cannot be changed once created, e.g., tuples (tuple), strings (str), and integers (int).

Question 3. What are the main differences between lists and tuples in Python?

-> Lists are mutable, meaning their elements can be modified, whereas tuples are immutable, meaning their elements cannot be changed after creation. Lists are slower in performance compared to tuples due to the overhead of mutability.

Question 4. Describe how dictionaries store data.

-> Dictionaries store data in key-value pairs using a hash table. Each key is unique and maps to a specific value, allowing fast lookups, insertions, and deletions with an average time complexity of O(1).

Question 5. Why might you use a set instead of a list?

-> Sets are used when unique elements are required and order doesnâ€™t matter. They provide faster membership testing (in operator) and eliminate duplicate values automatically.

Question 6. What is a string in Python, and how is it different from a list?

-> A string in Python is an immutable sequence of characters, whereas a list is a mutable collection of elements that can be of any data type. Strings cannot be modified after creation, but lists can be altered.

Question 7. How do tuples ensure data integrity in Python?

-> Tuples are immutable, meaning their elements cannot be changed after creation. This ensures data integrity by preventing accidental modifications, making them ideal for fixed collections of data.

Question 8. What is a hash table, and how does it relate to dictionaries in Python?

-> A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables, allowing efficient lookups, insertions, and deletions.

Question 9. Can lists contain different data types in Python?

-> Yes, lists in Python can contain elements of different data types, such as integers, strings, floats, and even other lists or dictionaries.

Question 10. Explain why strings are immutable in Python.

-> Strings are immutable to improve security, memory optimization, and performance. This prevents accidental modifications and allows Python to internally optimize string storage using interning.

Question 11. What advantages do dictionaries offer over lists for certain tasks?

-> Dictionaries offer faster lookups (O(1) average complexity) compared to lists (O(n) for searching). They provide key-value mapping, making data retrieval and association more efficient.

Question 12. Describe a scenario where using a tuple would be preferable over a list.

-> Tuples are preferable when dealing with constant data that should not be modified, such as database records, function return values, or fixed configuration settings.

Question 13. How do sets handle duplicate values in Python?

-> Sets automatically remove duplicate values. When elements are added to a set, any duplicates are ignored, ensuring all elements remain unique.

Question 14. How does the "in" keyword work differently for lists and dictionaries?

-> In lists, the in keyword checks if a value exists and takes O(n) time. In dictionaries, it checks for the presence of a key using a hash table, which takes O(1) time on average.

Question 15. Can you modify the elements of a tuple? Explain why or why not.

-> No, tuples are immutable, meaning their elements cannot be changed after creation. This ensures data integrity and allows Python to optimize memory usage.

Question 16. What is a nested dictionary, and give an example of its use case?

-> A nested dictionary is a dictionary that contains another dictionary as its value. It is useful for representing hierarchical data, such as JSON data structures or multi-level configurations.

In [32]:
student = {
    "name": "John",
    "grades": {"math": 90, "science": 85}
}

question 17. Describe the time complexity of accessing elements in a dictionary.

-> Accessing an element in a dictionary has an average time complexity of O(1) due to hash table implementation, but in the worst case (due to hash collisions), it can be O(n).

Question 18. In what situations are lists preferred over dictionaries?

-> Lists are preferred when order matters, duplicates are allowed, and data needs to be accessed sequentially, such as in an ordered collection of items or an indexed array.

Question 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Before Python 3.7, dictionaries were unordered, meaning key-value pairs were not stored in a predictable sequence. Since Python 3.7, dictionaries maintain insertion order, but retrieval is still based on key lookups rather than position.

Question 20. Explain the difference between a list and a dictionary in terms of data retrieval.

-> Lists retrieve elements using index-based access (O(1)), whereas dictionaries retrieve values using key-based lookups (O(1) average). Lists are useful for ordered data, while dictionaries excel in fast key-value mapping.

                               **PRACTICAL QUESTIONS **

In [1]:
# Question 1:
# Write a code to create a string with your name and print it.
name = "Rohit Sharma"  # Creating a string with my name
print(name)  # Printing the string

Rohit Sharma

In [2]:
# Question 2:
# Write a code to find the length of the string "Hello World".
string = "Hello World"  # String whose length needs to be found
print(len(string))  # Using len() function to get the length

11

In [3]:
# Question 3:
# Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
sliced_string = string[:3]  # Slicing from start to the third index (exclusive)
print(sliced_string)

Pyt

In [4]:
# Question 4:
# Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string.upper()  # Using upper() to convert to uppercase
print(uppercase_string)

HELLO

In [5]:
# Question 5:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
modified_string = string.replace("apple", "orange")  # Using replace() to change words
print(modified_string)

I like orange

In [7]:
# Question 6:
# Write a code to create a list with numbers 1 to 5 and print it.
numbers_list = [1, 2, 3, 4, 5]  # Creating list with numbers 1 to 5
print(numbers_list)

[1, 2, 3, 4, 5]

In [8]:
# Question 7:
# Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)  # Appending 10 to the list
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
# Question 8:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)  # Removing 3 from the list
print(numbers)

[1, 2, 4, 5]

In [10]:
# Question 9:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])  # Index 1 gives the second element

b

In [11]:
# Question 10:
# Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()  # Using reverse() to reverse the list
print(numbers)

[50, 40, 30, 20, 10]

In [12]:
# Question 11:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple_example = (100, 200, 300)  # Creating tuple
print(tuple_example)

(100, 200, 300)

In [13]:
# Question 12:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple_colors = ('red', 'green', 'blue', 'yellow')
print(tuple_colors[-2])  # Accessing second-to-last element

blue

In [14]:
# Question 13:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple_numbers = (10, 20, 5, 15)
print(min(tuple_numbers))  # Using min() to get minimum number

5

In [15]:
# Question 14:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple_animals = ('dog', 'cat', 'rabbit')
print(tuple_animals.index("cat"))  # Using index() to find index of "cat"

1

In [16]:
# Question 15:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple_fruits = ('apple', 'banana', 'mango')  # Creating tuple
print("kiwi" in tuple_fruits)  # Checking if "kiwi" is present

False

In [17]:
# Question 16:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set_example = {'a', 'b', 'c'}  # Creating a set
print(set_example)

{'b', 'a', 'c'}

In [18]:
# Question 17:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set_numbers = {1, 2, 3, 4, 5}
set_numbers.clear()  # Using clear() to remove all elements
print(set_numbers)

set()

In [19]:
# Question 18:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set_numbers = {1, 2, 3, 4}
set_numbers.remove(4)  # Using remove() to delete 4
print(set_numbers)

{1, 2, 3}

In [20]:
# Question 19:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)  # Using union() for union operation
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
# Question 20:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)  # Using intersection() for common elements
print(intersection_set)

{2, 3}

In [22]:
# Question 21:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict_example = {"name": "John", "age": 25, "city": "New York"}  # Creating dictionary
print(dict_example)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
# Question 22:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict_example = {"name": "John", "age": 25}
dict_example["country"] = "USA"  # Adding new key-value pair
print(dict_example)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# Question 23:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict_example = {"name": "Alice", "age": 30}
print(dict_example["name"])  # Accessing value of key "name"

Alice

In [25]:
# Question 24:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict_example = {"name": "Bob", "age": 22, "city": "New York"}
del dict_example["age"]  # Using del to remove key
print(dict_example)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# Question 25:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict_example = {"name": "Alice", "city": "Paris"}
print("city" in dict_example)  # Checking if key exists

True

In [27]:
# Question 26:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]  # Creating list
my_tuple = (4, 5, 6)  # Creating tuple
my_dict = {"a": 7, "b": 8}  # Creating dictionary
print(my_list, my_tuple, my_dict)  # Printing all

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [28]:
# Question 27:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
random_list = random.sample(range(1, 101), 5)  # Generating 5 random numbers
random_list.sort()  # Sorting in ascending order
print(random_list)

[1, 65, 74, 88, 89]

In [29]:
# Question 28:
# Write a code to create a list with strings and print the element at the third index.
string_list = ["apple", "banana", "cherry", "date", "fig"]
print(string_list[3])  # Printing element at index 3

date

In [30]:
# Question 29:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}  # Combining dictionaries
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# Question 30:
# Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)  # Converting list to set
print(string_set)

{'banana', 'apple', 'cherry'}